*.pyc
/services/cleaning/logs
shared/.DS_Store
.DS_Store
.env
/data/documents
Kermit/~$Kermit_Praesentation.pptx
Kermit/Kermit_Praesentation.pptx
Kermit/20251009 CORNET KERMIT - 1 Steering Committee Meeting - Kick-off.pptx
gitpush.txt
.env copy
.env_old
.env_rwth
